*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
node_modules
bundledOutputs
yarn-error.log
lib
src/LanguageParser.ml
src/LanguageParser.mli
src/LanguageLexer.ml
src/StaticsParser.ml
src/StaticsParser.mli
src/StaticsLexer.ml
src/DynamicsParser.ml
src/DynamicsParser.mli
src/DynamicsLexer.ml
src/TermParser.ml
src/TermParser.mli
src/TermLexer.ml
src/ConcreteSyntaxParser.ml
src/ConcreteSyntaxParser.mli
src/ConcreteSyntaxLexer.ml
