*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
node_modules
bundledOutputs
yarn-error.log
lib
src/languageParser.ml
src/languageParser.mli
src/languageLexer.ml
src/staticsParser.ml
src/staticsParser.mli
src/staticsLexer.ml
src/dynamicsParser.ml
src/dynamicsParser.mli
src/dynamicsLexer.ml
src/termParser.ml
src/termParser.mli
src/termLexer.ml
