input:focus, textarea {
  outline: none !important;
}
input, textarea {
  height: 500px;
  width: 400px;
}
body, textarea, input, table {
  font-family: monospace;
  color: #1e1e5d;
}
body, table {
  font-size: 16px;
}
h1 {
  font-weight: 400;
}
h2 {
  font-weight: 200;
}
.error {
  color: #c12828;
}
/* XXX grid no longer valid */
div.lvca-viewer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header1                 header1" /* LVCA */
    "header2-abstract-syntax header2-repl"
    "abstract-syntax-pane    repl-pane"
    "header2-concrete        repl-pane"
    "concrete-pane           repl-pane"
    "header2-statics         repl-pane"
    "statics-pane            repl-pane"
    "header2-dynamics        repl-pane"
    "dynamics-pane           repl-pane"
}
h1, h2 {
  margin: 0;
}
h1.header {
  margin-left: 20px;
  margin-top: 30px;
  grid-area: header1;
}
h2.header2 {
  padding: 15px 0 10px 20px;
}
h2.header2 checkbox {
  font-size: 20px;
}
h2.header2-concrete, h2.header2-statics, h2.header2-dynamics, h2.header2-abstract-syntax, h2.header2-repl {
  border: 2px solid #1e1e5d;
}
div.concrete-pane, div.abstract-syntax-pane, div.statics-pane, div.dynamics-pane, div.repl-pane {
  grid-area: concrete-pane;
  border-left: 2px solid #1e1e5d;
  border-bottom: 2px solid #1e1e5d;
  border-right: 2px solid #1e1e5d;
  padding: 20px;
}
div.term-input {
  padding: 10px;
  border: 2px dashed #1e1e2d;
}
div.history-item {
  margin: 30px 0;
}
div.history-input {
  padding: 14px 10px;
  margin: 5px 0;
  border: 2px solid #1e1e2d;
  cursor: pointer;
}
div.term-view {
  margin-top: 5px;
  padding-top: 10px;
}
div.repl-pane .CodeMirror pre {
  padding: 0;
}
div.repl-pane.disabled {
  background: #f5f5f5;
}
span.result-bad {
  color: #c12828;
}
span.result-good {
  color: #06925a;
}
.CodeMirror {
  height: auto;
}
div.eval-result-row {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}

table,
td, th {
    border: 1px solid #1e1e5d;
    padding: 5px;
}

thead,
tfoot {
    /* background-color: #1e1e5d;
    color: #fff;
    */
}
