input:focus, textarea {
  outline: none !important;
}
body, textarea, input, table {
  font-family: monospace;
  color: #1e1e5d;
}
body, table {
  font-size: 16px;
}
h1 {
  font-weight: 400;
  margin: 0;
}
h2, h3 {
  font-weight: 200;
  margin: 0;
}
button {
  border: 2px solid #1e1e5d;
  background: white;
  color: #1e1e5d;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #1e1e5d;
}
.error {
  color: #c12828;
}
div.lvca-viewer {
  display: table;
  border-collapse: collapse;
  width: 800px;
}
h1.header {
  margin-left: 20px;
  margin-top: 30px;
}
h2.header2 {
  padding: 15px 0 10px 20px;
}
h2.header2 checkbox {
  font-size: 20px;
}
div.concrete-pane,
div.concrete-info-pane,
div.abstract-syntax-pane,
div.statics-pane,
div.dynamics-pane,
div.repl-pane {
  padding: 20px;
}
div.term-input {
  padding: 10px;
  border: 2px dashed #1e1e2d;
}
div.history-item {
  margin: 30px 0;
}
div.history-input {
  padding: 14px 10px;
  margin: 5px 0;
  border: 2px solid #1e1e2d;
  cursor: pointer;
}
div.term-view {
  margin-top: 5px;
  padding-top: 10px;
}
div.repl-pane .CodeMirror pre {
  padding: 0;
}
.result-bad {
  color: #c12828;
}
.result-good {
  color: #06925a;
}
.CodeMirror {
  height: auto;
  border: 2px solid #1e1e5d;
}
div.eval-result-row {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}

table,
td, th {
    border: 1px solid #1e1e5d;
    padding: 5px;
}

thead,
tfoot {
    /* background-color: #1e1e5d;
    color: #fff;
    */
}

.syntax-debugger {
  margin: 20px 20px 20px 0;
}

/* TODO: fix padding of first token */
.token {
  cursor: pointer;
  display: inline-block;
  padding: 0 4px;
}

.token:first-child {
  padding: 0 4px 0 0;
}

.debugger-tokens {
  padding: 8px 0;
}
.section-box {
  border: 2px solid #1e1e5d;
  padding: 20px;
  display: table-row;
}
.section-box.disabled {
  color: gray;
  cursor: not-allowed;
}
.section-box h3 {
  padding: 10px;
  cursor: pointer;
}
.section-box.disabled h3, .section-box.disabled a, button.disabled {
  color: gray;
  cursor: not-allowed;
}
